// Icon Resource Definition
#define MAIN_ICON                       102

#if defined(_DEBUG)
MAIN_ICON               ICON                    "icons/laptop.ico"
#else
MAIN_ICON               ICON                    "icons/laptop.ico"
#endif
